<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <profiles>
        <profile>
            <id>azdo</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>PMS</id>
                    <url>https://pkgs.dev.azure.com/agilysys/Stay/_packaging/PMS/maven/v1</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                </repository>
                <repository>
                    <id>Platform</id>
                    <url>https://pkgs.dev.azure.com/agilysys/_packaging/Platform/maven/v1</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>github-libs-snapshot</id>
                    <name>github-libs-snapshot</name>
                    <url>https://maven.pkg.github.com/Agilysys-Inc/libs-general</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>github-libs-release</id>
                    <name>github-libs-release</name>
                    <url>https://maven.pkg.github.com/Agilysys-Inc/libs-general</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>Core</id>
                    <url>https://pkgs.dev.azure.com/agilysys/_packaging/Core/maven/v1</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
				<repository>
					<id>Foundations</id>
					<url>https://pkgs.dev.azure.com/agilysys/45d9ee83-8494-4c47-822c-cee41bc85499/_packaging/Foundations/maven/v1</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>artifactory</id>
                    <name>libs-release</name>
                    <url>{{config.artifactoryBaseUrl}}/artifactory/libs-release</url>
                </repository>
                <repository>
                    <snapshots/>
                    <id>artifactory-snapshot</id>
                    <name>libs-snapshot</name>
                    <url>{{config.artifactoryBaseUrl}}/artifactory/libs-snapshot</url>
                </repository>
                <repository>
                    <id>github-central</id>
                    <name>github-central</name>
                    <url>https://maven.pkg.github.com/Agilysys-Inc/libs-central</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <id>PMS</id>
                    <name>azure-plugins</name>
                    <url>https://pkgs.dev.azure.com/agilysys/Stay/_packaging/PMS/maven/v1</url>
                </pluginRepository>
                <pluginRepository>
                    <id>github-central</id>
                    <name>github-central</name>
                    <url>https://maven.pkg.github.com/Agilysys-Inc/libs-central</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>artifactory</id>
                    <name>plugins-release</name>
                    <url>{{config.artifactoryBaseUrl}}/artifactory/plugins-release</url>
                </pluginRepository>
                <pluginRepository>
                    <snapshots/>
                    <id>artifactory-snapshot</id>
                    <name>plugins-snapshot</name>
                    <url>{{config.artifactoryBaseUrl}}/artifactory/plugins-snapshot</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <servers>
        <server>
            <id>PMS</id>
            <username>agilysys</username>
            <password>{{config.personal_settings.azure_devops_token}}</password>
        </server>
        <server>
            <id>Platform</id>
            <username>agilysys</username>
            <password>{{config.personal_settings.azure_devops_token}}</password>
        </server>
        <server>
            <id>Core</id>
            <username>agilysys</username>
            <password>{{config.personal_settings.azure_devops_token}}</password>
        </server>
		<server>
			<id>Foundations</id>
			<username>agilysys</username>
			<password>{{config.personal_settings.azure_devops_token}}</password>
		</server>
        <server>
            <id>github-central</id>
            <username>agilysys</username>
            <password>{{config.personal_settings.github_token}}</password>
        </server>
        <server>
            <id>github-libs-snapshot</id>
            <username>agilysys</username>
            <password>{{config.personal_settings.github_token}}</password>
        </server>
        <server>
            <id>github-libs-release</id>
            <username>agilysys</username>
            <password>{{config.personal_settings.github_token}}</password>
        </server>
    </servers>
</settings>
